.tweet {
    background-color: #FFF;
    min-width: 300px;
    padding:24px;
    border-radius: 15px;
    position:relative;
    margin-bottom: 5px;
}

.tweet strong{
  display: block;
    margin-bottom:3px;
    color:#42a1db;
}

.tweet p {
  margin: 3px 0;
  font-size: 14px;
  line-height: 10px;
}

.tweet button {
  position:absolute;
    right:24px;
    top:24px;
    border:0;
}

.tweet button img {
  margin-right: 5px;
}

.tweet button:hover {
  opacity: 0.7;
}

